@import url('https://fonts.googleapis.com/css2?family=Romanesco&display=swap');

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #fca311;
}
.container {
  border-radius: 100%;
  border: 5px solid #ffffff;
  box-shadow: inset 2px 3px 8px 0 rgba(0, 0, 0, 0.1);
  background-image: linear-gradient(to right, #118ab2, #073b4c, #06d6a0);
}
.clock {
  position: relative;
  overflow: hidden;
  width: 350px;
  height: 350px;
  border-radius: 100%;
}
.hour,
.minute {
  position: absolute;
  height: 100px;
  width: 6px;
  color: #69cff6;
  margin: auto;
  top: -28%;
  left: 0;
  bottom: 0;
  right: 0;
  background: #ffffff;
  transform-origin: bottom center;
  transform: rotate(0deg);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
  z-index: 1;
}
.minute {
  position: absolute;
  height: 130px;
  width: 4px;
  top: -37%;
  left: 0;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
  transform: rotate(90deg);
}
.second {
  position: absolute;
  height: 90px;
  width: 1.5px;
  margin: auto;
  top: -26%;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 4px;
  background: #d90429;
  transform-origin: bottom center;
  transform: rotate(180deg);
  z-index: 1;
}
.dot {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 12px;
  height: 12px;
  border-radius: 100px;
  background: white;
  border: 2px solid #1b1b1b;
  border-radius: 100px;
  margin: auto;
  z-index: 1;
}
.number-12{
  position: absolute;
  top: 27%;
  right: 48.5%;
  color: #fca311;
  font-family: 'Romanesco', cursive;
  font-size: 35px;
  font-weight: 700;
}
.number-3{
  color: #fca311;
  position: absolute;
  top: 48%;
  right: 37.5%;
  font-family: 'Romanesco', cursive;
  font-size: 35px;
    font-weight: 700;
}
.number-6{
  position: absolute;
  color: #fca311;
  top: 71%;
  right: 49%;
  font-family: 'Romanesco', cursive;
  font-size: 35px;
  font-weight: 700;
}
.number-9{
  color: #fca311;
  position: absolute;
  top: 48%;
    right: 60%;
    font-family: 'Romanesco', cursive;
    font-size: 35px;
    font-weight: 700;
}
@media (max-width:400px) {
  .number-12{
    top: 33%;
    right: 45%;
    font-size: 30px;
  }
  .number-3{
    top: 49%;
    right: 10%;
    font-size: 30px;
  }
  .number-6{
    top: 64%;
    right: 47%;
    font-size: 30px;
  }
  .number-9{
    top: 49%;
    right: 83%;
    font-size: 30px;
  }
}
